{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="crumb">
    <i class="fas fa-angle-right"></i>
    <a href="#">Solicitações</a>
</li>
<li class="crumb">
    <i class="fas fa-angle-right"></i>
    <span>Protocolo</span>
</li>
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="br-card">
        <div class="card-content">
            <div class="text-center mb-4">
                <img src="{% static 'img/LOGO_BRASAO_CIDADE_GRU_HORIZONTAL_CONTORNO-01.png' %}" alt="Logo Guarulhos" style="max-width: 200px;">
                <h2 class="mt-3">CIDADE DE GUARULHOS</h2>
                <h3 class="text-primary-default">SECRETARIA DE GESTÃO</h3>
                <h4>Comprovante de Recebimento de Solicitação - Fácil Digital</h4>
            </div>
            
            <!-- Informação do Solicitante e Data com h4 -->
            <div class="br-item">
                <div class="row">
                    <div class="col-3"><h4>Solicitante:</h4></div>
                    <div class="col-9"><h4>FULANO DE TAL LTDA</h4></div>
                </div>
                <div class="row">
                    <div class="col-3"><h4>Data:</h4></div>
                    <div class="col-9"><h4>05/08/2024</h4></div>
                </div>
            </div>
            
            <div class="text-center my-4">
                <span class="text-secondary-08" style="font-size: 2.5rem; font-weight: 600;">
                    Nº 45678/2024
                </span>
            </div>

            <div class="br-list">
                <div class="br-item">
                    <div class="br-message info my-4">
                        <div class="content">
                            <p>Acompanhe o andamento de sua solicitação pelo site fazenda.guarulhos.sp.gov.br (Fácil Digital).</p>
                            <p>Caso sejam identificadas pendências ou se o pedido estiver apto para encaminhamento, você será notificado(a) no e-mail cadastrado.</p>
                        </div>
                    </div>

                    <footer class="br-footer mt-4">
                        <div class="text-center">
                            <p>Departamento de Atendimento ao Cidadão</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
